**/target/
**/*.rs.bk
*.swp
.wasm-binaries
akro/runtime/wasm/target/
!runtime/wasm/target/wasm32-unknown-unknown/release/akro_runtime.compact.wasm
!runtime/wasm/target/wasm32-unknown-unknown/release/akro_runtime.wasm
**/._*
.vscode/
.DS_Store
*.o
*.so
*.rlib
*.dll
/target/
*.exe
**/*.rs.bk
.vs/
.idea/
akro/
bak/
.akro/
